* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px;
	text-align: center;
	background-color: rgb(35, 35, 35);
	color: #CCC5B8
}

.serif-type,
h1,
section h2 {
	font-family: 'Roboto Slab', serif;
}

.mono-type,
nav,
section a,
footer {
	font-family: 'Roboto Mono', monospace;
}

.narrow-type,
h2.hero,
h3 {
	font-family: 'Roboto Condensed', sans-serif;
}



a {
	text-decoration: none;
	color: #D68B00;
}

nav, footer {
	background-color: rgb(35, 35, 35);
	font-size: 14px;
}
  
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.btn-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 12px 0;
}

nav a {
	color: #609E7D
}

nav a.current {
	color: #7CCCA2;
}
  
header {
	margin-top: 25px;
	background-color: white;
	background-image: url('images/developer.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 13px;
}

h1, h2, h3 {
	color: rgb(230, 230, 230);
	text-shadow: 0.5px 0.5px gray
}

h1 {
	padding: 11px 0;
	margin-bottom: 72px;
	letter-spacing: 1px;
	color: rgb(245, 245, 245);;	
}

.hero {
	line-height: 1.2;
}

h2.hero {
	margin: 120px 0 10px;
	letter-spacing: 2px;
}

h3 {
	letter-spacing: 2px;
	margin-top: 20px;
}

  
section {
	background-color: #261D2B;
	padding: 0 3% 10%;
	line-height: 1.7;
}

section:nth-child(even) {
	background-color: #220D2E;
  }

p {
	padding: 10px 0;
	text-align: left;
}

.project-links {
	display: flex;
	justify-content: space-around;
}

img {
	width: 95%;
}

.contact {
	display: block;
	text-align: left;
	padding: 0 0 0 6%;
	height: 83vh;
}

.contact h3 {
	color: #CCC5B8;
	text-shadow: none;
}

.contact-spacer {
	margin-top: 36px;
}

.social-list {
	list-style: none;
	align-items: center;
	padding: 0;
}
.social-list li {
	padding: 2px 0;
}

.social-link {
	padding: auto 0;
}

.social-logo {
	width: 32px;
	margin-right: 3%;
}



.recenter {
	text-align: center;
}