* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: arial, sans-serif; 
	font-size: 16px;
	text-align: center;
	background-color: rgb(128, 128, 128);
}


nav, footer {
	background-color: rgb(128, 128, 128);
}
  
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 50px;
}

.btn-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	align-items: center;
	padding: 0;
}

footer {
	font-size: 14px;
}
  
header {
	margin-top: 50px;
	background-color: white;
}


  
section {
	background-color: #bbb;
	padding: 0 0 10%;
	line-height: 1.5;
}

section:nth-child(even) {
	background-color: #ddd;
  }

.project-links {
	display: flex;
	justify-content: space-evenly;
}

img {
	width: 95%;
}


.contact {
	display: block;
	text-align: left;
	padding-left: 5%;
}
.contact h2 {
	text-align: center;
}

.social-list {
	list-style: none;
	align-items: center;
	padding: 0;
}

.social-link {
	padding: auto 0;
}

.social-logo {
	width: 32px;
	margin-right: 3%;
}