* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: arial, sans-serif; 
	font-size: 16px;
	text-align: center;
	background-color: rgb(128, 128, 128);
}


nav, footer {
	background-color: rgb(128, 128, 128);
}
  
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.btn-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	align-items: center;
	padding: 0;
}

footer {
	font-size: 14px;
}
  
header {
	margin-top: 29px;
	background-color: white;
	background-image: url('');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 18px;
}

h1 {
	padding: 20px 0;
	margin-bottom: 72px;
}
h2.hero {
	margin: 107px 0 12px;;
}
  
section {
	background-color: #bbb;
	padding: 43px 3% 6%;
	line-height: 1.9;
}

section.about p {
	padding: 22px 1% 8px;
	margin: 0 auto;
	text-align: left;
}

section.projects p {
	padding: 22px 1% 8px;
	margin: 0 auto;
}

section:nth-child(even) {
	background-color: #ddd;
  }

.project-links {
	display: flex;
	justify-content: space-evenly;
}

img {
	width: 95%;
}


.contact {
	display: block;
	text-align: left;
	padding-left: 5%;
}
.contact h2 {
	text-align: center;
}

.social-list {
	list-style: none;
	align-items: center;
	padding: 0;
}

.social-link {
	padding: auto 0;
}

.social-logo {
	width: 32px;
	margin-right: 3%;
}



.recenter {
	text-align: center;
}



@media only screen and (min-width: 728px) {
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 30px;
	}

	p {
		max-width: 74%;
	}
	#projects p {
		max-width: 55%;
	}

	.contact-indent {
		margin-left: 25%;
	}
}